<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout.html :: head(${title})"></head>
  <body>

    <header th:replace="fragments/layout.html :: header"> </header>

    <main>

      <div th:if="${account.profilePicture != null}">
        <img th:src="@{/homepage/profilepictures/{id}(id=${account.profilePicture.id})}" />
      </div>
      <h1>
        <span th:text="${account.firstName}">firstname</span> <span th:text="${account.lastName}">lastname</span>
      </h1>

      <h2 class="test">Top 3 skills:</h2>
      <ol>
        <li th:each="skill : ${top3}">
          <span th:text="${skill.content}">skill</span>
          (<span th:text="${skill.praiseCount}">praises</span> praises)
        </li>
      </ol>

      <h2>All skills: </h2>
      <ul>
        <li th:each="skill : ${skills}">
          <span th:text="${skill.content}">skill</span>
          (<span th:text="${skill.praiseCount}">praises</span> praises)
          <form th:if="${!authorize}" th:action="@{/homepage/user/{username}/skills/{id}(username=${account.username},id=${skill.id})}" method="POST">
            <input type="submit" value="Praise!"/>
          </form>
        </li>
      </ul>

      <form th:if="${authorize}" th:action="@{/homepage/user/{username}/skills/add(username=${account.username})}" method="POST">
        <label for="skill">Add skill: </label>
        <input type="text" id="skill" name="content" required pattern=".*\S+.*"/>
        <input type="submit" value="Add!"/>
      </form>

      <h2 th:if="${authorize}">What about uploading a custom profile picture?</h2>
      <h3 th:if="${authorize}">(Notice: The picture has to be in PNG file format!)</h3>
      <form th:if="${authorize}" th:action="@{/homepage/profilepictures}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload!" />
      </form>

    </main>

  </body>
</html>

