<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
  </head>
  <body>

    <h1>Sign up</h1>
    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"/>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password"/>
      <label for="retype">Retype password:</label>
      <input type="text" id="retype" name="retype"/>
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name="firstname"/>
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name="lastname"/>
      <input type="submit" value="Submit"/>
    </form>


  </body>
</html>

